@import url("https://fonts.googleapis.com/css2?family=Style+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
    url(/awareness/image/placard2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  width: 100%;
  background-color: rgb(81, 79, 79);
}

.log {
  width: 50px;
  margin-left: 20px;
  margin-top: 10px;
}

.registration {
  position: relative;
  margin: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 700px;
  width: 30%;
  border: 1px solid rgba(127, 69, 69, 0.2);
  border-radius: 10px;
  background: transparent;
  backdrop-filter: blur(25px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  top: 5%;
  left: 30%;
  color: white;
}

.input-box {
  width: 330px;
  box-sizing: border-box;
}

.input-box header {
  font-weight: 700;
  text-align: center;
  margin-bottom: 45px;
  font-size: 30px;
  font-family: "Style Script", cursive;
}

#LGA {
  border-radius: 1rem;
  height: 30px;
  background-color: #ececec;
}

#LCDA {
  border-radius: 1rem;
  height: 30px;
  background-color: #ececec;
}

#time {
  border-radius: 1rem;
  height: 30px;
  width: 140px;
  background-color: #ececec;
}
label {
  margin-bottom: 3px;
  color: #ececec;
}

span {
  color: rgb(237, 107, 107);
  bottom: 20%;
}

#address {
  border-radius: 10px;
  height: 40px;
  resize: none;
  box-sizing: border-box;
  padding-left: 5px;
  padding-top: 5px;
  background-color: #ececec;
}

#description {
  height: 100px;
  border-radius: 10px;
  resize: none;
  box-sizing: border-box;
  padding-left: 5px;
  padding-top: 5px;
  background-color: #ececec;
}

#image {
  border-radius: 1rem;
  height: 30px;
  width: 100%;
  color: gray;
}

form {
  display: block;
  margin: 10px;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.input-field {
  display: flex;
  flex-direction: column;
  position: relative;
}
input {
  outline: none !important;
  height: 30px;
  padding-left: 10px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 2px;
  color: #40414a;
  font-size: 16px;
}

#description {
  outline: none !important;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 2px;
  color: #40414a;
  font-size: 16px;
}

.input-box .input-field label {
  right: 30px;
  top: 50%;
  pointer-events: none;
  transition: 0.5s;
}

.input-field input:focus ~ label {
  top: -10px;
  font-size: 13px;
}

.input-field #description:focus ~ label {
  top: -10px;
  font-size: 13px;
}

.input-field input:valid ~ label {
  top: -10px;
  font-size: 13px;
  color: #5d5076;
}
.input-field #description:valid ~ label {
  top: -10px;
  font-size: 13px;
  color: #fff;
}

.input-field #time:valid ~ label {
  top: -10px;
  font-size: 13px;
  color: #fff;
}

.input-field input:focus,
.input-field input:valid {
  border-bottom: 1px solid #5d88d5;
}
.input-field #description:focus,
.input-field #description:valid {
  border-bottom: 1px solid #5d88d5;
}

.submit {
  align-items: center;
  text-align: center;
  margin-left: 30%;
  margin-top: 30px;
  text-decoration: none;
  border-radius: 10px;
  font-family: sans-serif;
  font-size: 16px;
  width: 40%;
  color: #ffffff;
  padding: 10px 10px;
  background-color: #5d88d5;
  transition: background-color 1s ease;
  border: none;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.submit:hover {
  background-color: rgba(28, 76, 128, 0.9);
  color: #fff;
}
